.nav {
  background-color: #e8bc00;
}

.navtext {
  color: #004da7 !important;
  background-color: #e8bc00 !important;
}
/*  ░░░░░░░░░░░░▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄░░░░░░░░░░░░░
    ░░░░░▄▄▄▄█▀▀▀░░░░░░░░░░░░▀▀██░░░░░░░░░░░
    ░░▄███▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█▄▄▄░░░░░░░
    ▄▀▀░█░░░░▀█▄▀▄▀██████░▀█▄▀▄▀████▀░░░░░░░
    █░░░█░░░░░░▀█▄█▄███▀░░░░▀▀▀▀▀▀▀░▀▀▄░░░░░
    █░░░█░▄▄▄░░░░░░░░░░░░░░░░░░░░░▀▀░░░█░░░░
    █░░░▀█░░█░░░░▄░░░░▄░░░░░▀███▀░░░░░░░█░░░
    █░░░░█░░▀▄░░░░░░▄░░░░░░░░░█░░░░░░░░█▀▄░░
    ░▀▄▄▀░░░░░▀▀▄▄▄░░░░░░░▄▄▄▀░▀▄▄▄▄▄▀▀░░█░░
    ░█▄░░░░░░░░░░░░▀▀▀▀▀▀▀░░░░░░░░░░░░░░█░░░
    ░░█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▄██░░░░
    ░░▀█▄░░░░░░░░░░░░░░░░░░░░░░░░░▄▀▀░░░▀█░░
    █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
    █░░█▀▄ █▀▀ █▀█ █░░░░█░▄░█ █ ▀█▀ █░█░░█ ▀█▀░█
    █░░█░█ █▀▀ █▀█ █░░░░▀▄▀▄▀ █ ░█░ █▀█░░█ ░█░░█
    █░░▀▀░ ▀▀▀ ▀░▀ ▀▀▀░░░▀░▀░ ▀ ░▀░ ▀░▀░░▀ ░▀░░█
    ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀*/
.antinavtext {
  color: #e8bc00 !important;
  background-color: #004da7 !important;
}

#navtext {
  color: #004da7;
}

.red {
  color: red;
}
.fbBlue {
  color: #63709a;
}
.twTeal {
  color: #2dbde5;
}

footer {
  background-image: url(images/Image4.png);
  padding-left: 1.5rem;
}
.footerdiv {
  background-color: #004da7;
}
h4 {
  color: #e8bc00;
  margin-top: 2rem;
}
.followfont {
  color: #004da7;
}
#stopkRight {
  padding-right: 0rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  white-space: nowrap;
  text-align: left;
  padding: 8px;
}
.overf {
  overflow-x: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bgWhite {
  background-color: white;
}
.bgBlack {
  background-color: black;
}
.txtWhite {
  color: white;
}
#txtBlack {
  color: black;
}
.txtBlack {
  color: black !important;
}
ul {
  list-style-type: none;
}

#POW,
#POW-heading,
#teams-heading,
#teams-button,
#newsletter-header {
  padding: 50px;
}

#newsletter-header {
  color: #004da7;
}

.carouselTeams-Links {
  color: white;
}

#usefulLinks {
  background-color: #e8bc00;
}

#socialBar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

#newsletter-form-p1,
#newsletter-form-p2,
#newsletter-form-p3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .mobileLogo {
    height: 40px;
    width: 195px;
  }
}
