@import url("https://fonts.googleapis.com/css2?family=Fjord+One&family=Roboto+Slab:wght@200;300;400;500;600&display=swap");

.nav {
  background-color: #e8bc00;
}

.navtext {
  color: #004da7 !important;
  background-color: #e8bc00 !important;
}

.antinavtext {
  color: #e8bc00 !important;
  background-color: #004da7 !important;
}

#navtext {
  color: #004da7;
}

#nav-tab,
#nav-baseball-tab,
#nav-basketballm-tab,
#nav-basketballf-tab,
#nav-flagfootball-tab,
#nav-lacrosse-tab,
#nav-ringette-tab,
#nav-rugbym-tab,
#nav-rugbyf-tab,
#nav-softball-tab,
#nav-soccerm-tab,
#nav-soccerf1-tab,
#nav-soccerf2-tab,
#nav-swimming-tab,
#nav-trackandfield-tab,
#nav-volleyballm-tab,
#nav-volleyballf-tab {
  background: #004da7;
  color: #e8bc00;
}

.red {
  color: red;
}
.fbBlue {
  color: #63709a;
}
.twTeal {
  color: #2dbde5;
}

footer {
  background-image: url(images/Image4.png);
  padding-left: 1.5rem;
}
.footerdiv {
  background-color: #004da7;
}

h1 {
  font-family: "Roboto Slab", serif;
}

h2 {
  font-family: "Roboto Slab", serif;
}

h3 {
  font-family: "Roboto Slab", serif;
}

h4 {
  font-family: "Roboto Slab", serif;
  color: #e8bc00;
  margin-top: 2rem;
}

h5 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Fjord One", serif;
}

.socialTxt {
  color: #e8bc00;
}

.followfont {
  color: #004da7;
}
#stopkRight {
  padding-right: 0rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  white-space: nowrap;
  text-align: left;
  padding: 8px;
}
.overf {
  overflow-x: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bgWhite {
  background-color: white;
}
.bgBlack {
  background-color: black;
}
.txtWhite {
  color: white;
}
#txtBlack {
  color: black;
}
.txtBlack {
  color: black !important;
}
ul {
  list-style-type: none;
}

#POW,
#POW-heading,
#teams-heading,
#schedule-button,
#teams-button,
#newsletter-header {
  padding: 50px;
}

#newsletter-header {
  color: #004da7;
}

.carouselTeams-Links {
  color: white;
}

#usefulLinks {
  background-color: #e8bc00;
}

#socialBar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

#newsletter-form-p1,
#newsletter-form-p2,
#newsletter-form-p3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .mobileLogo {
    height: 40px;
    width: 195px;
  }
}
